<!-- Site Overlay -->
<div class="site-overlay"></div>

<!-- Hero image -->
<div class="container-fluid hero_container">
  <div class="overlay">
    <div class="menu-btn visible-sm visible-xs col-xs-offset-10">&#9776;</div>
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">SHARE YOUR CONCERT MEMORIES</h1>
      <h3 class="text-center">And start creating your story.</h3>
      <a href="#" class="btn btn-danger btn-lg center-block">Playback memories!</a>
    </div>
  </div>
</div>


<section id="home_body">
  <h2 class="text-center">How Playback works?</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-12 steps_container">
        <div class="col-md-4">
          <%= image_tag("sign-up.svg", :alt => "Signup", :class => "img-responsive center-block") %>
          <h3 class="text-center">Signup for a free account</h3>
          <p class="text-center">Create a simple account using Facebook</p>
        </div>
        <div class="col-md-4">
          <%= image_tag("arrow2.svg", :alt => "rss feed", :class => "img-responsive center-block") %>
          <h3 class="text-center">Create your first entry</h3>
          <p class="text-center">I bet you can do this in less than 2 minutes</p>
        </div>
        <div class="col-md-4">
          <%= image_tag("mobile.svg", :alt => "Mobile", :class => "img-responsive center-block") %>
          <h3 class="text-center">Enjoy memories anywhere!</h3>
          <p class="text-center">Share with the world if you like.</p>
        </div>
      </div>

      <div class="col-xs-12">
        <h2 class="text-center second_title">Discover playbacks around your area</h2>
      </div>
      <div class="col-md-12">
        <div class="discover_profiles">
          <div class="" id="my-gallery-container">
            <div class="item" data-order="31">
              <a href="#">
                <div class="overlay">
                  <h2 class="text-center">Denver</h2>
                </div>
                <img src="https://unsplash.it/500/300" class="img-responsive" />
              </a>
            </div>
            <div class="item h200" data-order="30">
              <a href="#">
                <div class="overlay">
                  <h2 class="text-center">Los Angeles</h2>
                </div>
                <img src="https://unsplash.it/400/200" class="img-responsive" />
              </a>
            </div>
            <div class="item h250" data-order="29">
              <a href="#">
                <div class="overlay">
                  <h2 class="text-center">Miami</h2>
                </div>
                <img src="https://unsplash.it/200/200" class="img-responsive" />
              </a>
            </div>
            <div class="item h150" data-order="28">
                <a href="#">
                  <div class="overlay">
                    <h2 class="text-center">Seattle</h2>
                  </div>
                  <img src="https://unsplash.it/200/200" class="img-responsive" />
                </a>
            </div>
            <div class="item h100" data-order="27">
                <a href="#">
                  <div class="overlay">
                    <h2 class="text-center">Portland</h2>
                  </div>
                  <img src="https://unsplash.it/500/300" class="img-responsive" />
                </a>
            </div>
            <div class="item" data-order="26">
                <a href="#">
                  <div class="overlay">
                    <h2 class="text-center">New York</h2>
                  </div>
                  <img src="https://unsplash.it/200/200" class="img-responsive" />
                </a>
            </div>
            <div class="item h200" data-order="25">
                <a href="#">
                  <div class="overlay">
                      <h2 class="text-center">Detroit</h2>
                  </div>
                  <img src="https://unsplash.it/200/200" class="img-responsive" />
                </a>
            </div>
            <div class="item h150" data-order="24">
                <a href="#">
                  <div class="overlay">
                    <h2 class="text-center">San Francisco</h2>
                  </div>
                  <img src="https://unsplash.it/200/500" class="img-responsive" />
                </a>
            </div>
            <div class="item h100" data-order="23">
              <a href="#">
                <div class="overlay">
                  <h2 class="text-center">Austin</h2>
                </div>
                <img src="https://unsplash.it/200/200" class="img-responsive" />
              </a>
            </div>
            <div class="item" data-order="22">
              <a href="#">
                <div class="overlay">
                  <h2 class="text-center">Chicago</h2>
                </div>
                <img src="https://unsplash.it/400/200" class="img-responsive" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12">
          <a href="#" class="btn btn-danger btn-lg center-block view_more_btn">View More Discoveries</a>
      </div>

    </div>
  </div>
</section>
