/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "partials/*";

 html, body{
     height: 100%;
 }


 /* Navbar non-logged in user */
 .custom-nav1 {
   margin-bottom: 0;
   padding: 25px 0;
   position: absolute;
   background: transparent;
   width: 100%;
   z-index: 2;
   -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;

    a {
      font-family: $lobster;
      font-size: 2.5em;
      font-weight: 400;
      color: #fff;
      text-shadow: 2px 2px #000;
      margin-top: 20px;

    }

    ul {
      li {

        .login_btn {
          font-family: $poppin;
          font-size: 1.2em;
          font-weight: 300;
          color: #fff;
          background: transparent;
          transition: all 0.4s ease-out;
          border-color: transparent;
          padding: 15px 20px 0;

          &:hover {
            background: transparent;
            color: #e67e22;
          }

        }
        button {
          font-family: $poppin;
          font-size: 1.2em;
          font-weight: 300;
          color: #fff;
          text-shadow: none;
          margin-top: 20px;
          margin-right: 10px;
          transition: all 0.4s ease-out;

          &:hover {
            background: transparent;
            color: #e67e22;
          }

        }
        .btn-outline {
          background: transparent;
          border: 1px solid #fff;
          border-radius: 50px;
          padding: 15px 30px;
          transition: all 0.4s ease-out;

          &:hover {
            background: #fff;
            color: #2c3e50;
          }
        }
      }
    }

    .scrolled {
      background: #000;
    }
 }

 /* Navbar non-logged in user */
 .custom-nav2 {
   margin-bottom: 0;
   padding: 0;
   position: relative;;
   background: #fff;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
   width: 100%;
   z-index: 2;
   -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;

    .navbar-header {
      display: inline-block;

      a {
        font-family: $lobster;
        font-size: 2.5em;
        font-weight: 400;
        color: #FF4E50;
        margin-top: 20px;
        padding-top: 0;

      }
    }


    ul {
      li {

        .login_btn {
          font-family: $poppin;
          font-size: 1.3em;
          font-weight: 300;
          color: #2C2C2C;
          background: transparent;
          transition: all 0.4s ease-out;
          border-color: transparent;
          padding: 8px 20px 0;

          &:hover {
            background: transparent;
            color: #e67e22;
          }

        }
        button {
          font-family: $poppin;
          font-size: 1.2em;
          font-weight: 300;
          color: #2C2C2C;
          text-shadow: none;
          margin-top: 20px;
          margin-right: 10px;
          transition: all 0.4s ease-out;

          &:hover {
            background: transparent;
            color: #e67e22;
          }

        }
        .btn-outline {
          background: transparent;
          border: 1px solid #2C2C2C;
          border-radius: 50px;
          padding: 15px 30px;
          transition: all 0.4s ease-out;

          &:hover {
            background: #2C2C2C;
            color: #2c3e50;
          }
        }
      }
    }

    .dropdown {
      padding-top: 10px;
      padding-right: 20px;
      img {
        width: 50px;
      }

      .dropdown-menu {
         margin-top: 12px;
         background-color: #FF4E50;

         li {

           &:hover {
             background: darken(#FF4E50, 20%);
           }

           a, .edit_btn {
             font-family: "Lobster", cursive;
             font-size: 1.8em;
             padding: 5px 10px;
             margin-top: 0;
             color: #fff;

             &:hover {
               color: #fff;
               background: darken(#FF4E50, 20%);
             }
           }
         }
      }
    }
    .nav-links {
      list-style: none;

      li {

        .btn {
          color: #FFF;
          border-radius: 4px;
        }
        #create_btn {
          background: #e74c3c;
          border: none;
          padding: 6px 25px;
          margin-top: 10px;

          &:hover {
            background: darken(#e74c3c, 15%);
          }

          span {
            color: #F4F5F7;
            font-size: 1.8em;
            padding: 8px 0;
          }
        }
      }
    }
    .menu-btn {
      color: #333;
      font-size: 3em;
      z-index: 5;
      cursor: pointer;
    }
 }

 .hero_container {
   margin: 0;
   padding: 0;
   position: relative;
   z-index: 0;
   width: 100%;
   height: 650px;
   overflow: hidden;
   background-image: url('homepage-hero.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   .overlay {
     height: 650px;
     width: 100%;
     overflow: hidden;
     top: 0;
     left: 0;
     background: rgba(44,62,80, 0.6);

     h1 {
       font-family: $poppin;
       font-weight: 600;
       font-size: 4.4em;
       padding-top: 200px;
       padding-left: 80px;
       padding-right: 80px;
       color: #fff;

       @media screen and (max-width: $screen-sm) {
         font-size: 2.6em;
         padding-left: 10px;
         padding-right: 10px;
       }
     }
     h3 {
       font-family: $poppin;
       font-weight: 100;
       font-size: 2em;
       padding-top: 0;
       color: #fff;
       @media screen and (max-width: $screen-sm) {
         font-size: 1.2em;
       }
     }
     .btn-danger {
       width: 260px;
       border-radius: 50px;
       margin-top: 40px;
       font-family: $poppin;
       font-weight: 400;
       font-size: 1.2em;
       background: #FF4E50;
       transition: all 0.4s ease-out;

       &:hover {
         background:  lighten(#FF4E50,5%);
       }
       &:visited {
            color: #fff;
        }

     }
     .menu-btn {
       color: #fff;
       font-size: 3em;
       position: absolute;
       z-index: 5;
       cursor: pointer;
     }
   }
 }


 .mobile_cta_btns {
     padding-top: 60px;

     .col-xs-6 {
       padding: 0;
       ul {

         li {
           border-bottom: 1px solid rgba(29,39,53,.3);
           border-top: 1px solid rgba(29,39,53,.3);
           border-right: 1px solid rgba(29,39,53,.3);

           .m_btns {
             font-family: $poppin;
             font-weight: 100;
             font-size: 1.2em;
             display: block;
             color: #FFF;
             background: transparent;
             border-color: transparent;
             padding-left: 35px;
             text-decoration: none;
             text-align: center;
             transition: all 0.4s ease-out;
             border-radius: 0;


             &:hover {
               background: #e74c3c;

             }

           }
         }
       }
     }
 }

 .user_pushy {

   .mobile_profile_container {
     padding: 20px 0;
     border-bottom: 1px solid rgba(29, 39, 53, 0.3);

     img {
       width: 165px;
     }
     .view_profile_link {
       display: block;
       color: #fff;
       padding: 20px 0;
       font-family: $poppin;
       font-weight: 100;
       font-size: 1em;

       &:hover {
         background: transparent;
         color: #FF4E50;
         text-decoration: none;
       }
     }
   }
   .user_mobile_list{
       margin: 245px 0 10px;

       li {

         a {
            padding: 25px 30px;
            font-size: 1.5em;
            i {
              padding-right: 15px;
            }
         }
       }
   }
 }

 footer {
   background: #fff;
   border-top: 1px solid #FF4E50;
   padding: 50px;


   .footer-brand {
     font-family: $lobster;
     font-size: 2.5em;
     font-weight: 400;
     color: #FF4E50;

     @media screen and (max-width: $screen-md) {
       margin-bottom: 20px;
     }
   }

   ul {
     list-style: none;
     padding-left: 0;

     @media screen and (max-width: $screen-md) {
       margin: 0;

     }
     li {
       padding: 5px 0;


      a {
        font-family: $poppin;
        font-weight: 100;
        color: #2c3e50;
        text-decoration: none;
        font-size: 1.2em;

        &:hover {
          font-family: $poppin;
          background: transparent;
          font-weight: 100;
          color: lighten(#2c3e50, 5%);
          text-decoration: none;
          font-size: 1.2em;
        }


      }

     }
     .intro_quicklink {
       font-family: $poppin;
       font-weight: 400;
       color: #2c3e50;
       font-size: 1.3em;
       padding-bottom: 10px;
     }
   }
 }


#home_body {
  padding: 80px 0;

  h2 {
    font-family: $poppin;
    font-weight: 600;
    color: #2c3e50;
    font-size: 2em;
  }

  .steps_container {
    padding: 50px 0;

    img {
      width: 80px;
      height: 200px;
      opacity: 0.6;
    }
    h3 {
      font-family: $poppin;
      font-weight: 400;
      color: #2c3e50;
      font-size: 1.4em;
    }
    p {
      font-family: $poppin;
      font-weight: 100;
      color: #2c3e50;
      font-size: 1.2em;
      padding: 0 25px;
    }
  }
  .second_title {
    font-family: $poppin;
    font-weight: 600;
    color: #2c3e50;
    font-size: 2em;
    padding-top: 50px;
  }
  .discover_profiles {
    #my-gallery-container {
    	background-color: #ededed;


      .padding{
      	padding: 10px 5px;
      }

      .item {
      	width: 100%;
      	background-color: #34495E;
      	min-height: 100px;
      	padding: 5px;
      	margin: 10px 0px;
      	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
      	border-radius: 4px;
        color:#fff;
        position: relative;
        padding: 0;

        &:hover {
        	opacity: 0.8;
        }

        .overlay {
          position: absolute;
              z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(52,73,94,0.5);
          vertical-align: middle;

          h2 {
            font-family: $poppin;
            font-weight: 600;
            color: #fff;
            font-size: 2em;
            padding-top: 50px;
          }

        }

        img {
          position: relative;
          width: 100%;
          height: 100%;
        }

        .h150{
        	width: 100%;
        	min-height: 150px;
        }

        .h200{
        	width: 100%;
        	min-height: 200px;

        }
        .h250{
        	width: 100%;
        	min-height: 200px;
        }

      }

      p {
      	text-align: center;
      	color: #fff;
      }
    }
  }
}

.view_more_btn {
  width: 260px;
  border-radius: 50px;
  margin-top: 40px;
  font-family: $poppin;
  font-weight: 300;
  font-size: 1.2em;
  background: #FF4E50;
  transition: all 0.4s ease-out;

  &:hover {
    background:  lighten(#FF4E50,5%);
  }
  &:visited {
      color: #fff;
  }
}


#about_us {
  .hero2_container {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background-image: url('team.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      height: 650px;
      width: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      background: rgba(44,62,80, 0.6);

      h1 {
        font-family: $poppin;
        font-weight: 600;
        font-size: 3.5em;
        padding-top: 200px;
        padding-left: 80px;
        padding-right: 80px;
        color: #fff;

        @media screen and (max-width: $screen-sm) {
          font-size: 2.6em;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      h3 {
        font-family: $poppin;
        font-weight: 100;
        font-size: 2em;
        padding-top: 0;
        color: #fff;
        @media screen and (max-width: $screen-sm) {
          font-size: 1.2em;
        }
      }
      .btn-danger {
        width: 260px;
        border-radius: 50px;
        margin-top: 40px;
        font-family: $poppin;
        font-weight: 400;
        font-size: 1.2em;
        background: #FF4E50;
        transition: all 0.4s ease-out;

        &:hover {
          background:  lighten(#FF4E50,5%);
        }
        &:visited {
             color: #fff;
         }

      }
      .menu-btn {
        color: #fff;
        font-size: 3em;
        position: absolute;
        z-index: 5;
        cursor: pointer;
      }
    }
  }
  .intro_container {
    padding: 80px 0 100px;

    .about_intro {

      @media screen and (max-width: $screen-sm) {
        text-align: center;
        padding: 0 20px;
      }

      h2 {
        font-family: $poppin;
        font-weight: 400;
        font-size: 2.5em;
        color: #2c3e50;
        padding-bottom: 10px;
        @media screen and (max-width: $screen-sm) {
          text-align: center;
        }
      }
      p {
        font-family: $poppin;
        font-weight: 100;
        font-size: 1.1em;
        line-height: 1.6em;
        color: #2c3e50;
        opacity: 0.7;
        @media screen and (max-width: $screen-sm) {
          text-align: center;
          padding: 0;
          font-size: 1em;
        }
      }
    }
    .intro_img {
      width: 300px;
      @media screen and (max-width: $screen-sm) {
        margin-top: 80px;
      }
    }
  }

  .about_masked {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background-image: url('ga-paint.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
      height: 650px;
      width: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      background: rgba(44,62,80, 0.8);

      h2 {
        font-family: $poppin;
        font-weight: 300;
        font-size: 2.4em;
        padding-top: 200px;
        color: #fff;
        @media screen and (max-width: $screen-sm) {
          padding-top: 120px;
        }
      }
      p {
        font-family: $poppin;
        font-weight: 100;
        font-size: 1.1em;
        line-height: 1.8em;
        padding-top: 0;
        color: #fff;
        padding-right: 250px;
        opacity: 0.7;
        @media screen and (max-width: $screen-sm) {
          padding-right: 10px;
          padding-left: 10px;
          padding-top: 40px;
          font-size: 1em;
          line-height: 2em;
        }

      }
      .mid_img {
        width: 400px;
        padding-top: 200px;


      }
    }
  }
  .meet_intro_title {
    padding: 80px 0 100px;
    @media screen and (max-width: $screen-sm) {
      padding: 80px 30px;
    }

    h2 {
      font-family: $poppin;
      font-weight: 100;
      font-size: 2.5em;
      color: #2c3e50;
      padding-bottom: 10px;
    }
    p {
      font-family: $poppin;
      font-weight: 100;
      font-size: 1.1em;
      line-height: 2em;
      color: #2c3e50;
      opacity: 0.7;
      padding: 0 200px;

      @media screen and (max-width: $screen-sm) {
        padding: 0;
      }
    }
  }
  .team_member_container {
    width: 360px;
    max-height: 360px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 100px;

    @media screen and (max-width: $screen-md) {
      margin: 0 auto 100px;
    }


    .team_member {
      position: relative;
      width: 100%;
      height: 360px;

    }

    .overlay {
      position: absolute;
      height: 360px;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(232, 126, 4, 0.2);
      z-index: 1;
      transition: all 0.4s ease;


      .team_info {
        opacity: 0;
        position: absolute;
        height: 360px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;


        &:hover {
          background: rgba(44,62,80, 0.8);
          opacity: 1;

          h2 {
            font-family: $poppin;
            font-weight: 300;
            font-size: 2.4em;
            color: #fff;
            padding-top: 80px;

          }
          p {
            font-family: $poppin;
            font-weight: 100;
            font-size: 1.1em;
            line-height: 1.8em;
            padding-top: 0;
            color: #fff;

          }
        }
      }

    }
  }
  .testimonial {
    background: #F4F5F7;
    padding: 80px 0;

    .test_img{
      width: 100px;
      height: 100px;
      margin: 50px auto 0;
    }
    blockquote {
      font-family: $poppin;
      font-weight: 100;
      font-size: 1.5em;
      line-height: 2.1em;
      font-style: italic;
      color: #22313F;
      opacity: 0.6;
      text-align: center;
      padding: 40px 0;
      border-color: transparent;

      @media screen and (max-width: $screen-md) {
        font-size: 1em;
        padding: 30px 20px 0;
      }

      cite {
        font-family: $poppin;
        font-weight: 400;
        font-size: 0.9em;
        line-height: 2em;
        color: #2C3E50;
        padding: 20px 0;
      }
    }
  }
}

/* Logged in user dashboard */

#about_body {
  background: #FAFAFA;

  #logged_in_user_home {
    background: #FAFAFA;
    margin: 0;
    padding: 50px 0 80px;

    .profile_card {
      width: 350px;
      height: 310px;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
      position: fixed;
      margin-left: 50px;

      .overlay {
        position: absolute;
        border-radius: 5px;
        height: 310px;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(44,62,80, 0.6);
        z-index: 1;
      }
      .info_section {
        position: absolute;
        width: 100%;
        height: 155px;
        background: #fff;
        z-index: 2;
        top: 155px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .profile_name {
          font-family: $poppin;
          font-weight: 100;
          padding-top: 26px;
          font-size: 1.1em;
        }
        .profile_handle {
          font-family: $poppin;
          font-weight: 100;
          padding-top: 0;
          font-size: 0.9em;
          color: rgba(44,62,80, 0.5);
          padding-bottom: 10px;
        }
        .social_stats {

          h3 {
            margin: 0;
            font-size: 1.2em;
            font-family: $poppin;
            font-weight: 500;
          }
          p {
            margin: 0;
            font-size: 1em;
            font-family: $poppin;
            font-weight: 100;
            color: rgba(44,62,80, 0.5);
            text-transform: uppercase;
          }
        }
      }
      img {
        border: 1px solid #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.3);
        position: absolute;
        z-index: 3;
        top: 90px;
        left: 125px;
        background: rgba(44,62,80, 0.6);
      }
    }

    .follow_users {
      width: 300px;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.3);
      position: fixed;
      margin-left: 50px;

      .list-group {
        margin-bottom: 0;
        padding-left: 0;
        margin: 0;

        .list-group-item {
          border: 1px solid rgba(44,62,80, 0.2);
          padding: 15px 15px;

          .btn-outline {
             border: 1px solid #3B8EDE;
             padding: 8px 18px;

             &:hover {
               border-color: darken(#3B8EDE, 10%);
               background: darken(#fff, 2%);

             }

             i {
                color: #3B8EDE;
                font-size: 1.5em;
             }
          }
        }


        .followers_title {
          padding: 20px 0;
          color: rgba(44,62,80, 0.6);
          font-size: 1.2em;
          font-family: $poppin;
          font-weight: 100;


        }
        .other_user {
          height: 60px;

          img {
            width: 50px;
            border: 1px solid #fff;
          }
          h4 {
            font-size: 1.2em;
            font-family: $poppin;
            font-weight: 500;
            padding-left: 20px;
          }
          p {
            font-size: 1em;
            font-family: $poppin;
            font-weight: 100;
            padding-left: 20px;
          }
          .badge {
              margin-top: 16px;
          }
        }

        .more_container {

          &:hover {

            background: darken(#fff, 2%);

          }
          button {
            font-family: $poppin;
            font-size: 1.1em;
            font-weight: 300;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 0 solid transparent;
          }
        }
      }
    }
    .company_info {
      background: transparent;
      border: 0 solid transparent;
      position: fixed;
      margin-top: 520px;

      ul {
        list-style: none;

        li {
          display: inline;
          padding: 0 15px;

          a {
            font-family: $poppin;
            font-size: 1.2em;
            font-weight: 100;
            color: darken(#FAFAFA, 40%);

            &:hover {
              background: transparent;
              color: darken(#FAFAFA, 60%);
            }
          }
        }
      }
      p {
        font-family: $poppin;
        font-size: 1em;
        font-weight: 100;
        color: #949494;
        text-align: center;
        padding: 20px 0;
      }
    }
  }


  /* Post Feed Card and  modal */
  .module {
    transition: all 0.2s cubic-bezier(.7,.2,.17,1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 auto 50px;
    background: hsla(0,0%,100%,0.5);
    overflow:hidden;
  }

  .module:after {
    animation: dots 3s infinite;
    transition: all 0.2s 0.2s cubic-bezier(.7,.2,.17,1);
    content:'...';
    display:block;
    width:100%;
    position: absolute;
    bottom:0.4em;
    right:1.2em;
    font-size: 1.8em;
    color: #4ECDC4;
    text-align:right;
  }

  .module:hover:after {
    animation: none;
    opacity:0;
  }

  .module:hover {
    background: hsla(0,0%,100%,1);
    transform: scale(1.02);
    box-shadow: 0 26px 6px -16px hsla(0,0%,0%,0.1);
  }

  .module__img {
    transition: all 0.7s 0.2s cubic-bezier(.7,.2,.17,1);
    line-height:20px;
    font-weight:bold;
    position:relative;
    box-sizing:border-box;
    padding:2em;
    color: hsla(0,0%,100%,0.85);
    height: 100%;
    background: #2c3e50 url('https://unsplash.it/768/506');
    background-size: cover;
    background-position: center center;
    line-height:50px;
  }

  .module__img:after {
    transition: all 1s 0.2s cubic-bezier(.7,.2,.17,1);
    content:'';
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:#2c3e50;
    opacity:0;
    z-index:0;
  }

  .module:hover .module__img {
    height:100px;
  }

  .module:hover .module__img:after {
    opacity:0.6;
  }

  .module__meta, .module__share {
    opacity:0;
    width:50%;
    float:left;
    position:relative;
    z-index:1;
    font-size: 1.8em;
    font-family: $lobster;
    color: #fff;
    font-weight: 100;
  }

  .module__meta {
    transition: 0.7s 0.2s cubic-bezier(.7,.2,.17,1);
    font-size: 1.6em;
  }

  .module__share {text-align:right;}

  .module__share i {
    opacity:0;
    margin-left:10px;
    transition: 0.2s 0.7s cubic-bezier(.42,1.34,.8,2);
    transform: scale(0);
  }

  .module__share i:last-child {transition-delay: 0.9s;}

  .module:hover i {
    opacity:0.9;
    transform: scale(1);
  }

  .module__share i:hover {
    color: #F62459;
    transition-delay: 0s;
  }

  .module:hover .module__meta,
  .module:hover .module__share {opacity:1;}

  .module:hover .module__share {transition-delay: 0.6s;}

  .module__content {
    transition: background-position 1s 0.2s cubic-bezier(.7,.2,.17,1);
    box-sizing:border-box;
    padding: 0 2em 2em 2em;
    height: 250px;

    background-size: 100% 100px, 100% 5px;
    background-position:center 300px, center -5px;
    background-repeat:no-repeat;
  }

  .module:hover .module__content {
    height: 400px;
    overflow:scroll;
    background-position:center 300px, center 0;
  }

  .module__title {
    transition: all 0.8s 0.2s cubic-bezier(.7,.2,.17,1);
    font-family: $poppin;
    line-height:1.1em;
    color:#e74c3c;
    font-size: 1.8em;
    margin-bottom: 1.2em;
    background-image: linear-gradient(to right, #34495e, #2c3e50);
    background-size: 10% 2px;
    background-repeat:no-repeat;
    background-position: left bottom;
    padding: 2em 0 1em;
    width:100%;
  }

  .module:hover .module__title {
    margin-bottom: 1.6em;
    padding-bottom: 1.6em;
    background-position: center bottom;
  }

  .module__txt {
    transition: all 0.8s 0.2s cubic-bezier(.7,.2,.17,1);
    color: #bbb;
    font-family: $poppin;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 0.6em;
  }

  .module:hover  .module__txt--abstract {
    font-family: $poppin;
    font-weight: 400;
    font-size: 1.4em;
    color:#2c3e50;
    opacity: 0.9;
    margin-bottom: 2em;
  }

  .module__txt--description {
    opacity:0;
    line-height:1.8em;
    transition: all 0.8s 0.5s cubic-bezier(.7,.2,.17,1);
  }

  .moda_link a {
    box-sizing: border-box;
    display:inline-block;
    max-width:100%;
    border:1px solid #e74c3c;
    padding: 1em;
    margin: 0.8em 0;
  }


  .module:hover .module__txt--description {
    opacity:1
  }

}
