<!DOCTYPE html>
<html>
  <head>
    <title>Playback</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lobster|Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- below is code for Auth0 modal -->
    <script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <!-- Second navbar for sign in -->
    <nav class="navbar custom-nav2 hidden-sm hidden-xs">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Playback</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <ul class="nav navbar-nav navbar-right">
            <li><button class="login_btn" onclick="lock.show();">login</button></li>
            <li>
              <button onclick="lock.show();" class="btn btn-default btn-outline">Sign up</button>
            </li>
          </ul>
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <!-- Pushy Menu -->
    <div class="visible-sm visible-xs">
      <nav class="pushy pushy-left">

          <ul>
              <li class="pushy-link"><a href="#">About Us</a></li>
              <li class="pushy-link"><a href="#">Contact Us</a></li>
          </ul>
          <div class="mobile_cta_btns">
            <div class="col-xs-6">
              <ul>
                <li>
                  <a href="#" class="btn btn-primary m_btns">Login</a>
                </li>
              </ul>

            </div>
            <div class="col-xs-6">
              <ul>
                <li>
                  <a href="#" class="btn btn-primary m_btns">Signup</a>
                </li>
              </ul>
            </div>
          </div>
      </nav>
    </div>




    <%= yield %>



    <script>


        var lock = new Auth0Lock('eMAgoBH8Bou1eDuASFBPK5tBDrso3FOs', 'playback.auth0.com', {
          auth: {
            redirectUrl: 'http://localhost:3000/auth/auth0/callback',
            responseType: 'code',
            params: {
              scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
            }
          }
        });


    </script>
  </body>
</html>
